# Node / Frontend
node_modules/
.next/
out/
build/
dist/

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Environment Variables & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
